/node_modules
/.vagrant
/.vagrant/*
Homestead.yaml
Homestead.json
.env
.env.php
.env.*.php
/config/database.php
/public/assets/images/profile-images
/public/assets/images/profile-images/tmp
/public/assets/images/profile-images/perm
