#main-frame{
	/*background-color: rgb(241, 241, 241);*/
/*	background-color: #fff;*/
    /*min-height: 795px;*/
  height: auto;
	display: block;
	float: none;
	border-radius: 5px;
  position: absolute;
  margin-bottom: 10px;
      background-color: #fff;

}
.form-frame{
    /*background-color: #fff;*/
    padding: 10px 100px 10px 100px;
    height: 780px;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.background-color{
	background-color: #fff;
}
#loading-container{
  position: absolute;
  left: 32px;
  top: 16px;
}

.step3{
    margin-top: 31px;
}
.step2{
  height: 205px;
  margin-top: 30px;
}
.step1{
  height:150px;
}
.ind-box{
  margin-top:11px;
}

.rows{
    margin-bottom: 85px;
}
/*INPUT FILE UPLOAD DESING*/

.file-wrapper {
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.file-wrapper .button {
    background: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #C3C3C3;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 15px;
    /* text-transform: uppercase; */
}

.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.file-wrapper input {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.file-wrapper input {
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}
/*INPUT FILE UPLOAD DESING END*/
.file-span{
    vertical-align: middle;
}
.profile-picture{
      float: left;
      margin-right: 45px;
}
h3{
	font: 19px/29px "Gotham Rounded A", "Gotham Rounded B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-style{
	z-index: 2;
	display: inline;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#last_name{
	margin-left: 4.3%;
}
#age{
	margin-left: 4%;
}

.row-margin-btm{
	margin-bottom: 10px;
}
.top-margin{
	margin-top: 15px;
}
/*.input-section{
	  height: 220px;
}*/
#submit-btn{
	margin-top: 35px;
}
#join{

}
.error-wrapper {
  width: 100%;
  position: relative;
}
.error-wrapper-fname {
  width: 33.33333333%;
  position: relative;
}
.error-wrapper-lname {
  width: 41.66666667%;
  position: relative;
}
.error-wrapper-age {
  width: 16.66666667%;
  position: relative;
}
.has-error{
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-title{
  margin-bottom: 25px;
}
.error-first_name{
  background-color: #d9534f;
  /* border: 1px solid green; */
  position: absolute;
  top: 27px;
  height: 30px;
  width: 100%;
  z-index: 0;
  border-radius: 0 0 5px 5px;
  color: white;
  padding-left: 10px;
  padding-top: 7px;
}
.error-last_name{
  background-color: #d9534f;
  /* border: 1px solid green; */
  position: absolute;
  top: 27px;
  height: 30px;
left: 90.4%;
    width: 99.9%;
  z-index: 0;
  border-radius: 0 0 5px 5px;
  color: white;
  padding-left: 10px;
  padding-top: 7px;
}
.error-age{
  background-color: #d9534f;
  /* border: 1px solid green; */
  position: absolute;
  top: 27px;
left: 499.6%;
  height: 30px;
 width: 100%;
  z-index: 0;
  border-radius: 0 0 5px 5px;
  color: white;
  padding-left: 10px;
  padding-top: 7px;
}
.error-email{
  background-color: #d9534f;
  /* border: 1px solid green; */
  position: absolute;
  top: 26px;
  /* left: 81.9%; */
  height: 30px;
  width: 100%;
  z-index: 0;
  border-radius: 0 0 5px 5px;
  color: white;
  padding-left: 10px;
  padding-top: 7px;
}
.error-username{
background-color: #d9534f;
  /* border: 1px solid green; */
  position: absolute;
  top: 26px;
  /* left: 81.9%; */
  height: 30px;
  width: 100%;
  z-index: 0;
  border-radius: 0 0 5px 5px;
  color: white;
  padding-left: 10px;
  padding-top: 7px;
}
.error-password{
background-color: #d9534f;
  /* border: 1px solid green; */
  position: absolute;
    top: 85px;
  /* left: 81.9%; */
  height: 30px;
  width: 100%;
  z-index: 0;
  border-radius: 0 0 5px 5px;
  color: white;
  padding-left: 10px;
  padding-top: 7px;
}
.error-password-again{
  background-color: #d9534f;
  /* border: 1px solid green; */
  position: absolute;
  top: 144px;
  /* left: 81.9%; */
  height: 30px;
  width: 100%;
  z-index: 0;
  border-radius: 0 0 5px 5px;
  color: white;
  padding-left: 10px;
  padding-top: 7px;
}
/*MEDIA*/
@media (max-width: 1023px) {
  .error-age {
    font-size: 10px;
  }
}

/*MEDIA*/
@media (max-width: 1148px) {
/*	#age{margin-left: 3%;}
	#last_name {margin-left: 5.3%;}*/
}
@media (max-width: 991px) {
  /*ERRORS*/
  .error-wrapper-fname{width: 100%;}
  .error-wrapper-lname{width: 100%;}
  .error-wrapper-age{width: 100%;}

  .error-first_name{left:0;top:-37px;}
  .error-last_name{left:0;top:-37px;}
  .error-age{left:0;top:-37px;font-size: 14px;}
  .error-email{left:0;top:-37px;}
  .error-username{left:0;top:-37px;}
  .error-password{left:0;top:-37px;}
  .error-password-again{left:0;top:-18px;}

  .top-margin{margin-top: 0;}
  .rows{margin-top: 0;}
  .form-frame{width: 100%;    padding: 10px 30px 10px 30px;}
  #main-frame {min-height: 955px}
  #first_name{width: 100%;margin-bottom: 30px;}
  #last_name{width: 100%;margin-left: 0;margin-bottom: 30px;}
  #age{width: 100%;margin-bottom: 30px;}
  #email{width: 100%;margin-bottom: 30px;}
  #company{width: 100%;}
  #username{width: 100%;margin-bottom: 30px;}
  #password{width: 100%;margin-bottom: 30px;}
  #password_again{width: 100%;}
/*  .input-section {height: 365px;}*/
  #age {margin-left: 0;}
  .rows {margin-bottom: 0;}
  #submit-btn {margin-top: 0px; margin-top: 35px;width: 100%;}
  .step1{

  } 
  .step2{
    height: 370px;
  }
}