/*ADD ANSWER STYLING*/
#add-answer-title{
  font-size: 22px;
}
#add-answer{
  padding:30px;
}
/*ADD ANSWER STYLING END*/
#main-thread{
    background-color: rgba(0, 197, 255, 0.09);
    border-bottom: rgba(66, 139, 202, 0.46) solid 2px;
}
.media-image{
    border: 3px solid #D5D3D3;
    border-radius: 15px;
}
.input-group-btn{

}
#top-left-side{
padding: 8px 0px 0px 9px;
height: 45px;
width:12%;
/*background-color: yellow;*/
float: left;
border: 1px solid #D7D6D6;
border-top-left-radius: 4px 
}
#quote-x{

}
#quote-text-wrapp{
    padding: 11px;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 900;
    background-color: #428bca;
    text-align: center;
}
#quote-text-wrapp:hover{
  background-color: #2E679A;
}

#top-right-side{
height: 45px;
width: 88%;
/*background-color: red;*/
float: right;
border: 1px solid #D7D6D6;
border-top-right-radius: 4px;
padding-right: 0; 
padding-left: 0;
}
#left-arrow{
  font-size: 27px;
}
/*TEXT AREA STYLING*/
textarea {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
    height: 130px;
  font-weight: normal;
  font-size: 16px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border:5px solid rgb(214, 214, 214);
  border-radius:0;
  color: #555555;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  resize: none;
  border-bottom: 0;
}
.add-answer-textarea{
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  height: 130px;
  font-weight: normal;
  font-size: 16px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 10px;
  color: #555555;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  resize: none;
}
#post-answer{
  color:white !important;
  font-weight: 900;
  margin-left: 74px;
}
textarea:focus {
    border-color: #e8ebed;
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
.quote-footer{
      border: 5px solid rgb(214, 214, 214);
    border-top: 0;
    height: 40px;
    top: -6px;
    position: relative;
    color: white;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
}
.quote-cancel{
color: inherit !important;
    border-radius: 0;
    width: 50%;
}
.quote-quote{
color: inherit !important;
    border-radius: 0;
        width: 50%;

}
#quote-textarea{
}
/*TEXT AREA STYLING END*/
/*THREAD STYLING*/
.thread-info{
  color:rgba(111, 111, 111, 1);
  font-size: 14px;
}
#thread-group{
  margin: 0 0 0 0;
  height: 100%;

}
.thread-description{
    color: #576366;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.thread-single{
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px rgba(199, 200, 203, 0.54) solid;
}
.thread-date{
  color:rgba(111, 111, 111, 1);
}
.media-inner-left{
  float: left;
  width: 90%;
}
.reply-html{
  font-size: 23px;
}
a{
  color: #3776AC !important;
}
.reply-text{
  text-align: right;
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  opacity: .75;
  /*  vertical-align: top;*/
}
.reply-text-a:hover{
  color: black;
  text-decoration: none;
}
.media-inner-right{
    position: absolute;
    /* float: right; */
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(150, 152, 160);
    font: xx-large;
    font-family: monospace;
    text-align: center;
    line-height: 1.0;
}
/*THREAD STYLING END*/

/*LEFT BOX STYLING*/
.view-quote{
    position: absolute;
    top: 0px;
    right: 0;
    height: 20px;
    width: 40px;
    font-size: 13px;
    padding: 0;
    border-radius: 0;
}
.quote-details{
    font-size: 13px;
    color: #2A2828;
}
.right-arr{
  font-size: 33px;
  z-index: 100;
  color: rgba(46, 46, 46, 0.84);
  cursor: pointer;
}
#toggle-right{
    position: absolute;
    left: 0px;
    width: 10%;
    height: 100%;
    padding: 6px 0px;
    /* font-size: 2px; */
    line-height: 0;
    color: #555;
    /* background-color: #fff; */
    /* background-image: none; */
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
}
.left-box-inner {
    width: 100%;
    height: 650px;
    min-height: 650px;
    /* border: 1px solid yellow; */
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}
#list-search-bar{
  padding: 0;
  border: 0;
  background-color: white;
  /*border-bottom: 4px rgb(188, 188, 188) solid;*/
}
#left-top-container {
    display: block;
  }
#list-search-input{
 border-radius:0;
 height: 43px;
     border: none;
     box-shadow: none;
}
#quote-btn{
 border-radius:0;
 height: 43px;
     border: none;
     box-shadow: none;
     border-left: 1px solid #D7D6D6;
}
.list-group-container{
  width: 100%;

}
.left-input-group{
width: 90%;
    float: right;
}
.list-group-item{
  overflow: hidden;
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
/*LEFT BOX STYLING END*/
#right-box-inner{
  width: 100%;
  height: 100%;
  min-height: 650px;
  /* border:1px solid yellow;*/
  background-color:#fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}
#right-box{
  /*border:1px solid red;*/
  min-height: 650px;
  padding-top: 75px;
  padding-bottom: 20px;
}

.inner {
  padding-right: 0;
  margin-top: 65px !important;
  width: 35%;
  position: fixed;
  min-height: 700px;
    left: -435px;
  top: 0;
  overflow-y: auto;
  -webkit-transition: right 1s;
  -moz-transition: right 1s;
  -o-transition: right 1s;
  transition:  right 1s;
   -webkit-transition: left 1s;
 -moz-transition: left 1s;
 -o-transition: left 1s;
 transition:  left 1s;
}

#zoom[target='false'] {
 margin-top: 65px !important;
  float: right;
 width: 100%;
 -webkit-transition: width 1s;
 -moz-transition: width 1s;
 -o-transition: width 1s;
 transition: width 1s;
}

/* Compliance = IE8+, Firefox 2+, Safari, Chrome, Opera 10+ */
#zoom[target='true'] {
  margin-top: 65px !important;
 float: right;
 width: 65%;
 margin-left: 0;
 -webkit-transition: width 1s;
 -moz-transition: width 1s;
 -o-transition: width 1s;
 transition: width 1s;
 1
}

.right-box-expand {
 left: 0 !important;
}
/*SIDE MESSAGES*/
.right-data{
 height: 105px;
     padding: 10px 16px;
  -webkit-transition: width 1s;
 -moz-transition: width 1s;
 -o-transition: width 1s;
 transition: width 1s;
}
.sidebar-ind-expand{
 height: 100%;
}
@media (max-width: 850px) {
  .inner {display: none !important;}
  #zoom[target='true'] {width: 100%;}
}

.right-box{
  /*border:1px solid red;*/
  min-height: 700px;
}

.right-data{
  color:black;
}
body,html{
  color:black;
}
.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#tread-title{
  border-bottom: 1px solid gray;
  height: 40px;
  margin-top: 15px;
}
#tread-side-title{
  height: 55px;
  border-bottom: 1px solid gray;
}
#tread-side-group{
  overflow: hidden;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.media-box {
  background: #fff;
  padding: 15px 20px 15px 25px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.6;
  margin-right: -12px;
  color: rgb(10, 10, 10);
}

.dash-separator{
  color: #807676;
  margin: 0 8px;
}
.heading-date{
  font-size: 0.8em;
  color: #807676;
  letter-spacing: 0.6px;
}
.media-text {
  padding-top: 10px;
}

.thumb-up {
  cursor: pointer;
}
.thumb-down {
  cursor: pointer;
}

.flags {
  cursor: pointer;
  margin-left: 10px;
}
.thumbs-text {
  background: #FFFFFF;
  padding: 0px 3px 3px 3px;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
}
.thumbs-icon{
  font-size: 16px;
}
.thumb-set{
  margin-left:5px;
  margin-right: 5px;
  vertical-align: top;
}

/*TEST*/
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #FFF;
}

.tip-left {
  top: 10px;
  left: -20px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  /* max-width: 300px; */
  height: auto;
  margin-left: 9px;
  background: #fff;
  padding: 15px 11px 20px 25px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.6;

}
.body .message {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(10, 10, 10);
}
.reply-text{
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  opacity: .75;
  /*  vertical-align: top;*/
}
.reply-text-a:hover{
  color: black;
  text-decoration: none;
}
a{
  color: #555;
}
.spam-popup{
  cursor: pointer;
  white-space: nowrap;
  list-style-type:none;
  margin-left: 5px;
  margin-right: 5px;
  background:#fff;
  color: black;
  padding:3px;
  border:none;
}
.spam-popup:hover{
  white-space: nowrap;
  list-style-type:none;
  background:rgb(28, 27, 27);
  color: white;
  border:1px gray solid;
}

.popover-content {
  padding: 9px 0px;
}
.popover{
  padding:0;

}

/*MEDIA*/
.media-group{
  margin-top: 15px;
  margin-bottom: 15px;
}
.media {
 margin-top: 0; 
}
.media-child{

}
.media-reply{
  padding-top: 10px;
}

.outer {
 overflow: hidden;
 position: relative;
}

@media (max-width: 850px) {
  .inner {display: none !important;}
}


/*DISABLING A TAG DEFAULT*/
.right-arr:hover{
  text-decoration: none;
}
.right-arr:active{
  text-decoration: none;
}
.right-arr:focus{
  text-decoration: none;
}



.message-header{
  font-size: 16px;
  line-height: 1.6;
  color: rgb(10, 10, 10);
  cursor: pointer;
  font-weight: bold;
  opacity: .75;
}
.message-header:hover{
  text-decoration: underline;
}
.message-body{
color: #576366;
}
.more{
  position: absolute;
  top: 83px !important;
  bottom: auto;
  right: 0px;
  cursor: pointer;
  /* top: 385px; */
  background-color: rgb(238, 233, 233);
  padding: 3px;
}

.icon-top{
  top: 83px !important;
  bottom: auto !important;
}
.icon-bottom{
  top:auto !important;
  bottom: 0 !important;
}
.reply-box{
  padding-top: 10px;
}
textarea{
  resize: vertical;
}
.reply-form{
  margin-bottom: 5px;
}
.left-btn{
  margin-right: 10px;

}