html{
  overflow: hidden;
}
body,html{
  color:black;
}


#right-box-inner{
  width: 100%;
  /* border:1px solid yellow;*/
  background-color:#fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  height: 88%;
  height: calc(100% - 80px);
  overflow-x: auto;

}
#right-box{
  /*border:1px solid red;*/
  min-height: 650px;
  padding-top: 75px;
  padding-bottom: 20px;
}

.qut-pnl-bdy{
  padding:0;
}


.inner {
  float: left;
  width: 35%;
  margin-left: 0;
  position: fixed;
  left: -35%;
  padding-right: 0 !important;

  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition:  width 1s ease;

  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  -o-transition: left 1s ease;
  transition:  left 1s ease;
}

#zoom[target='false'] {
  float: right;
  width: 100%;
  right:0;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  position: fixed;
}

/* Compliance = IE8+, Firefox 2+, Safari, Chrome, Opera 10+ */
#zoom[target='true'] {
 float: right;
 width: 65%;
 margin-left: 0;
  -webkit-transition: width 1s;
 -moz-transition: width 1s;
 -o-transition: width 1s;
 transition: width 1s;
 position: fixed;
     right: 0;
}
#swipe-icone{
    position: absolute;
    /* top: 238px; */
    bottom: 94.2%;
    left: 89%;
    z-index: 10;
    opacity: 0.8;

}

#preview-btn-thread{
  color: white !important;
  font-weight: 900;
   margin-left: 74px; 
}
/*
* === PREVIEW MODAL ===
*/
#preview-modal-wrapper{
  border: 0 !important;
}
#preview-modal-body{
  padding-top:0 !important;
}
#preview-modal-header{
  padding-bottom:0 !important;
}

/*
* === Sidebar ===
*/

#panel-wrapper{
  height: 600px; /* fallback if needed */
  height: calc(100% - 80px);
  overflow: hidden;
}

#panel-head{
  height:50px;
  overflow: hidden;
  padding:0;
}

#panel-head h4 {
  line-height:50px;
  padding:0px;
  margin:0px;
  text-align:center;
}

#panel-data{
  height: 320px; /* fallback if needed */
  height: calc(100% - 280px);
  overflow: auto;
  padding: 0;
}
#panel-footer-sidebar {
  height:230px;
  overflow:hidden;
}  

.ind-quotes{
  border: none;
  border-bottom: 1px solid black;
  height: 100% !important;
  border-top: none;
  margin-bottom: 2px;
}
.ind-quotes:last-child{
  border: none;
  border-bottom: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.textarea-expande {
height: 170px !important;

}
#quote-textarea {
    position: absolute;
    bottom: 18.4%;
    width: 100%;
    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s;
    padding-right: 30px;
  
}

#btn-group-quote{
  padding: 0;
  margin:0;
    height: 100%;
   width: 101%;
}
.p-wrapper{
  width: 12%;
  float: left;
    /* margin: 0 !important; */
    padding: 0 !important;
}
#quote-title-title{
    width: 100%;
}
#quote-image-wrapper{
  position:absolute;
  width:50px;
  height:45px;
  top:0px;
  right:0px;
  padding:12px;
  cursor:pointer;
  overflow:hidden;


}
#quote-title-btn{
    height:100%;
    width:100%;

}

/*
* ////LEFT BOX////
*/


.mce-tinymce{
  padding: 1px !important; 
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-top-colors: none !important;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color !important;
  border-image: none !important;
  border:3px solid rgb(214, 214, 214) !important;
  border-radius: 6px 6px 6px 6px !important;
  margin-bottom: 5px !important;
}

#quote-textarea .mce-tinymce{
    padding: 1px !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color !important;
    border-image: none !important;
    border: 0px !important;
    border-radius: 0 !important;
    margin-bottom: 5px !important;
    border-top: 4px solid rgb(214, 214, 214) !important;
    border-left: 4px solid rgb(214, 214, 214) !important;
    border-right: 4px solid rgb(214, 214, 214) !important;
}

/*ADD ANSWER STYLING*/
#add-answer-title{
  font-size: 22px;
}
#loading-container{
  text-align: center;

}
.max-height {
  height: 100% !important;
}
.setting-icon{
    margin-left: 5px;
    color: rgb(133, 133, 133);
    font-size: 14px;
}
span.message-body {
    word-wrap: break-word;
}
#loading-icons-1{
  position: absolute;
  top: 50%;
  left: 47%;
}
.panel-btn-sm{
  display: none;
}
#add-answer {
  padding: 30px;
}
.show-quote{

}
/*ADD ANSWER STYLING END*/
#main-thread{
    background-color: rgba(0, 197, 255, 0.09);
    border-bottom: rgba(66, 139, 202, 0.46) solid 2px;
}
.media-image{
    border: 3px solid #D5D3D3;
    border-radius: 15px;
}
.input-group-btn{

}
#top-left-side{
padding: 8px 0px 0px 9px;
height: 45px;
width:12%;
/*background-color: yellow;*/
float: right;
border: 1px solid #D7D6D6;
border-top-right-radius: 4px 
}
#quote-x{

}
#quote-text-wrapp{
    padding: 11px;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 900;
    background-color: #428bca;
    text-align: center;
}
#quote-text-wrapp:hover{
  background-color: #2E679A;
}
.top-bar.input-group {
  width: 100%;
}
#top-left-sidee{
height: 45px;
width: 100%;

/*background-color: red;*/
float: left;
border-top-left-radius: 4px;
padding-right: 0; 
padding-left: 0;
}
#left-arrow{
  font-size: 27px;
}
/*TEXT AREA STYLING*/
textarea {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
    height: 130px;
  font-weight: normal;
  font-size: 16px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;

  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border:5px solid rgb(214, 214, 214);
  border-radius:0;
  color: #555555;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  resize: none;
  border-bottom: 0;
}
.add-answer-textarea{
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  height: 130px;
  font-weight: normal;
  font-size: 16px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;

  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 10px;
  color: #555555;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  resize: none;
}
#post-answer{
  color:white !important;
  font-weight: 900;
  /*margin-left: 74px;*/
}
textarea:focus {
    border-color: #e8ebed;
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
.quote-footer{
      border: 5px solid rgb(214, 214, 214);
    border-top: 0;
    height: 40px;
    top: -6px;
    position: relative;
    color: white;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
}
.quote-cancel{
color: inherit !important;
    border-radius: 0;
    width: 50%;
}
.quote-quote{
color: inherit !important;
    border-radius: 0;
        width: 50%;

}
/*TEXT AREA STYLING END*/
/*THREAD STYLING*/
.thread-info{
    color: rgb(51, 51, 51);
    font-size: 16px;
}
#thread-group{
  margin: 0 0 0 0;
  height: 100%;
height: 579px !important;
}
.thread-description{
    color: #576366;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 0;
}
.thread-single{
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px rgba(199, 200, 203, 0.54) solid;
}
.thread-date{
    color: rgba(111, 111, 111, 1);
    font-size: 13px;
}
.media-inner-left{
  float: left;
  width: 99%;
}
.inner-val{

}
.btn-panel-single{
    width: 55px;
    padding: 0px 10px!important;
    border-radius: 0 !important;
}
.panel-btn{

}
.reply-html{
  font-size: 23px;
}
a{
  color: #3776AC !important;
}
.reply-text{
  text-align: right;
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  opacity: .75;
  /*  vertical-align: top;*/
}
.reply-text-a:hover{
  color: black;
  text-decoration: none;
}
.media-inner-right{
    position: absolute;
    /* float: right; */
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(150, 152, 160);
    font: xx-large;
    font-family: monospace;
    text-align: center;
    line-height: 1.0;
}
/*THREAD STYLING END*/

/*LEFT BOX STYLING*/
.view-quote{
    position: absolute;
    top: 0px;
    right: 0;
    height: 20px;
    width: 40px;
    font-size: 13px;
    padding: 0;
    border-radius: 0;
}
.quote-details{
    font-size: 13px;
    color: #2A2828;
}
.right-arr{
  font-size: 33px;
  z-index: 10;
  color: rgba(46, 46, 46, 0.84);
  cursor: pointer;
}
#toggle-right{
    position: absolute;
    left: 0px;
    width: 10%;
    height: 100%;
    padding: 6px 0px;
    /* font-size: 2px; */
    line-height: 0;
    color: #555;
    /* background-color: #fff; */
    /* background-image: none; */
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
}
.left-box-inner {
    width: 100%;
    height: 88%;
    /*min-height: 650px;*/
    /* border: 1px solid yellow; */
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}
#list-search-bar{
  padding: 0;
  border: 0;
  background-color: white;
  /*border-bottom: 4px rgb(188, 188, 188) solid;*/
}
#left-top-container {
    display: block;
  }
#list-search-input{
 border-radius:0;
 height: 43px;
     border: none;
     box-shadow: none;
}
#quote-btn{
 border-radius:0;
 height: 43px;
     border: none;
     box-shadow: none;
     border-left: 1px solid #D7D6D6;
}
.list-group-container{
  width: 100%;

}
.left-input-group{
width: 90%;
    float: right;
}
.list-group-item{
  overflow: hidden;
}
.list-group.list-group-container {
  margin-bottom: 100px;
}
.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
/*LEFT BOX STYLING END*/

.right-box-expand {
  display: block;
  left: 0;
}
#swipe-left{
  display: none;
}
/*SIDE MESSAGES*/
.right-data{
 height: 105px;
 padding: 10px 16px;
color:black;
  -webkit-transition: width 1s;
 -moz-transition: width 1s;
 -o-transition: width 1s;
 transition: width 1s;
}
.sidebar-ind-expand{
 height: 100%;
}


.right-box{
  /*border:1px solid red;*/
  /*min-height: 700px;*/
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#tread-title{
  border-bottom: 1px solid gray;
  height: 40px;
  margin-top: 15px;
}
#tread-side-title{
  height: 55px;
  border-bottom: 1px solid gray;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.media-box {
  background: #fff;
  padding: 15px 20px 15px 25px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.6;
  margin-right: -12px;
  color: rgb(10, 10, 10);
}
.dash-separator{
  color: #807676;
  margin: 0 8px;
}
.heading-date{
  font-size: 0.8em;
  color: #807676;
  letter-spacing: 0.6px;
}
.media-text {
  padding-top: 10px;
}

.thumb-up {
  cursor: pointer;
}
.thumb-down {
  cursor: pointer;
}

.flags {
  cursor: pointer;
  margin-left: 10px;
}
.thumbs-text {
  background: #FFFFFF;
  padding: 0px 3px 3px 3px;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
}
.thumbs-icon{
  font-size: 16px;
}
.thumb-set{
  margin-left:5px;
  margin-right: 5px;
  vertical-align: top;
}
/*TEST*/
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #FFF;
}
.tip-left {
  top: 10px;
  left: -20px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.dialogbox .body {
  position: relative;
  /* max-width: 300px; */
  height: auto;
  margin-left: 9px;
  background: #fff;
  padding: 15px 11px 20px 25px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.6;
}
.body .message {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(10, 10, 10);
}
.reply-text{
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  opacity: .75;
  /*  vertical-align: top;*/
}
.reply-text-a:hover{
  color: black;
  text-decoration: none;
}
a{
  color: #555;
}
.spam-popup{
  cursor: pointer;
  white-space: nowrap;
  list-style-type:none;
  margin-left: 5px;
  margin-right: 5px;
  background:#fff;
  color: black;
  padding:3px;
  border:none;
}
.spam-popup:hover{
  white-space: nowrap;
  list-style-type:none;
  background:rgb(28, 27, 27);
  color: white;
  border:1px gray solid;
}
.popover-content {
  padding: 9px 0px;
}
.popover{
  padding:0;
}
/*MEDIA*/
.media-group{
  margin-top: 15px;
  margin-bottom: 15px;
}
.media {
 margin-top: 0; 
}
.media-child{
}
.media-reply{
  padding-top: 10px;
}
.outer {
 overflow: hidden;
 position: relative;
}
/*DISABLING A TAG DEFAULT*/
.right-arr:hover{
  text-decoration: none;
}
.right-arr:active{
  text-decoration: none;
}
.right-arr:focus{
  text-decoration: none;
}
.message-header{
  font-size: 16px;
  line-height: 1.6;
  color: rgb(10, 10, 10);
  cursor: pointer;
  font-weight: bold;
  opacity: .75;
}
.message-header:hover{
  text-decoration: underline;
}
.message-body{
color: #576366;
}
.more{
  position: absolute;
  top: 83px !important;
  bottom: auto;
  right: 0px;
  cursor: pointer;
  /* top: 385px; */
  background-color: rgb(238, 233, 233);
  padding: 3px;
}
.icon-top{
  top: 83px !important;
  bottom: auto !important;
}
.icon-bottom{
  top:auto !important;
  bottom: 0 !important;
}
.reply-box{
  padding-top: 10px;
}
textarea{
  resize: vertical;
}
.reply-form{
  margin-bottom: 5px;
}
.left-btn{
  margin-right: 10px;

}
#phone_detector{
  max-width: 99999px;
}   

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


    /*==========  Mobile First Method  ==========*/
    @media only screen and (orientation : landscape) and (max-height : 455px) {
      .right-box-expand {
        display: block;
        left: 0;
        overflow-x: auto;
      }
      #panel-wrapper{
        height: 435px; /* fallback if needed */

        overflow-x: auto;
      }

      #panel-head{
        height:50px;
        overflow: hidden;
        padding:0;
      }

      #panel-data{
        height: 110px; /* fallback if needed */
        overflow: auto;
        padding: 0;
      }
      #panel-footer-sidebar {
        height:230px;
        overflow:hidden;
      }  
    }

    /* Custom, iPhone 2G, 3G, 4, 4S Media Queries */ 
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   
    }

    /* Custom, iPhone 2G, 3G, 4, 4S Landscape mode Media Queries */ 
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) { 
 
    }

    /* Small Devices, Tablets */


    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      #phone_detector{
        max-width: 1200px;
      }         
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      #phone_detector{
        max-width: 992px;
      }   
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      #phone_detector{
        max-width: 768px;
      }
      .panel-btn-bg{
        display: none;
      }
      .panel-btn-sm{
        display: block;
        float:left !important;
        width: 100%;
      }
      .btn-group{
        width: 100%;
      }
      .thread-single{
        margin-top: 30px;
      }
      #main-thread{
        margin-top: 0px;
      }
      .btn-panel-single {
        margin-left: 0 !important;
      }
      .thread-single {
          border-bottom: rgba(66, 139, 202, 0.46) solid 6px;
      }
      .thread-description {
          margin-top: 0 !important; 
        }
      #main-thread {
          border-bottom: rgba(66, 139, 202, 0.46) solid 6px;
      }

      .first-btn{
        border-left: 0 !important;
      }
      .last-btn{
        border-right: 0 !important;
      }

      #zoom[target='false'] {
       float: right;
       width: 100% !important;
       right:0 !important;
       -webkit-transition: right 1s;
       -moz-transition: right 1s;
       -o-transition: right 1s;
       transition: right 1s;
      }
      /* Compliance = IE8+, Firefox 2+, Safari, Chrome, Opera 10+ */
      #zoom[target='true'] {
       float: right;
       width: inherit !important;
       margin-left: 0;
       right:-100% !important;
       -webkit-transition: right 1s;
       -moz-transition: right 1s;
       -o-transition: right 1s;
       transition: right 1s;
       position: relative;
      }

      .inner{
        padding: 0;
        padding-right: 0;
        margin-top: 65px !important;
        width: 97.7% !important;
        position: fixed;
        left: -100% !important;
        top: 0;
        -webkit-transition: left 1s;
        -moz-transition: left 1s;
        -o-transition: left 1s;
        transition:  left 1s;
      }
      .right-box-expand {
         padding: 0;
         display: block;
          width: 97.7% !important;
          margin-left: 5px;
          left: 0% !important;
      }
      .right-box{
        padding: 0;
      }
      #zoom[target='true']  #swipe-left{
        display: block;
        height: 100%;
        position: absolute;
        z-index: 10;
        width: 10%;
      }
      #add-answer {
          margin-bottom: 100px;
      }

      #quote-textarea {

           padding-right: 0; 
      }


    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
      #phone_detector{
        max-width: 480px;
      }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
      #phone_detector{
        max-width: 320px;
      }
    }
